@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.mainbox {
    background-color: #515151;
    border-radius: 4px;
    width: 520px;
    height: 290px;
    margin-top: 400px;
    margin-left: 700px;
    position: fixed;
}

.markettext {
    color: white;
    font-size: 3vh;
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
    position: fixed;
}

.marketinfo {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vh;
    margin-top: 85px;
    margin-left: 40px;
    position: fixed;
}
